
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}


:root {
    --teal: #0f766e;
    --teal-dark: #115e59;
    --white: #ffffff;
    --gray: #f1f5f9;
}

.header {
    background-color: var(--teal);
    color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.list ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.list ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: all 0.3s ease;
}


.list ul li a:hover {
    background-color: var(--white);
    color: var(--teal-dark);
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 15px;
    }

    .list ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
